<head>
    <title>Strawpoll</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <main>
        <div class="indexContent">
            <header class="mainHeader">
                <h1>STRAWPOLL</h1>
                <a class="button" href="/polls/new">Create a Poll!</a>
            </header>
            
            <h3>Recent Polls</h3>
            <div class="pollList">
                <% polls.forEach(function(poll, index) { %>
                <a href="/polls/<%= poll._id %>">
                    <div class="singlePoll">
                        <h4><%= poll.title %></h4>
                        <p class="pollDate">Created <%= poll.createdAt %></p>
                        <p><em><%= poll.votes%> Votes Cast</em></p>

                    </div>
                    <% if(index !== polls.length - 1) {  %>
                        <hr>
                    <% }  %>
                </a>
                <% }); %>
            </div>
            
        </div>

    </main>

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/landing.js"></script>
</body>