<head>
    <title>Strawpoll</title>
    <link rel="stylesheet" type="text/css" href="/new.css">
</head>

<body>
    <main>
        <div class="formContent">
            <h3>Add a new Poll</h3>
            <div>
                <form id="newPollForm">
                    <h4>Poll title</h4>
                    <input type="text" name="title"autofocus>
                    <h4>Poll options</h4>
                    <ol id="optionList">
                        <li>
                            <input type="text" name="option" autofocus>
                        </li>
                        <li>
                            <input type="text" name="option" autofocus>
                        </li>
                    </ol>
                    <button type="button" id="addOption">Add an Option</button>
                    <input type="submit" value="Create Poll">
                </form>
            </div>
        </div>

    </main>

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/new.js"></script>
</body>