<head>
    <title>Strawpoll</title>
    <link rel="stylesheet" type="text/css" href="/new.css">
</head>

<body>
    <main>
        <div class="formContent">
            <h3>Add a new Poll</h3>
            <div>
                <form>
                    <h4>Poll title</h4>
                    <input type="text" autofocus>
                    <h4>Poll options</h4>
                    <ol>
                        <li>
                            <input type="text" autofocus>
                        </li>
                        <li>
                            <input type="text" autofocus>
                        </li>
                    </ol>
                    <button>Add an Option</button>
                    <button type="submit">Create Form</button>
                </form>
            </div>
        </div>

    </main>

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/new.js"></script>
</body>