

* {
    
}

.formContent {
    max-width: 600px;
    margin: auto;
    margin-top: 10em;
    border: 1px solid black;
    text-align: center;

    ol {
        margin: auto;
        max-width: 300px;
        text-align: center;
    }
}