body {
    margin: 0;
    padding: 0;
}

* {
   
}

.option {
    cursor: pointer;
}

.loaderCircle {
    margin: 16px auto;
    border: 8px solid white; 
    border-top: 8px solid black; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

.enabled {
    background-color: #ccc;
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.content {
    display : none;
}